{% extends 'admin/inheritance.html' %}
{% load static %}


{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 mt-4">
            <div class="card">
                <div class="card-body p-4">
                    <form  method="POST" action="{% url 'catagorie:insert_catogory'%}">

                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="product_name" class="form-label" >Name</label>
                            <input type="text" placeholder="Type here" class="form-control" name="catagory_name" required maxlength="99">
                        </div>
                       
                        <div class="mb-4">
                            <label class="form-label">Description</label>
                            <textarea placeholder="Type here" class="form-control" name="description" required maxlength="200"></textarea>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary" type="submit">Create category</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
           
            {% endblock %}