{% extends 'admin/inheritance.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Add Brand</h2>
                        <form method="post" action="{% url 'catagorie:add_brand' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="brandName">Brand Name</label>
                                <input type="text" name="brand_name" id="brandName" class="form-control" placeholder="Enter Brand Name" required maxlength="90">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Add Brand</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}